.chart-container {
    width: 70%;
    border: 2px solid #000000; 
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px; 
    background-color: #f9f9f9;  
    margin: 0 auto;          
    display: block;
  }
  