:host {
    display: block;
    max-width: 600px;
    margin: auto;
}
.year-selector {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
}
.year-selector button {
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(79, 204, 226);
    border: none;
    cursor: pointer;
}
.year-selector button.active {
    background-color: #007bff;
    color: rgb(255, 255, 255);
}